

/* Tag selector */
/* h1{
    color: orangered;
} */

/* Class */
/* .world{
    color: green;
} */

/* ID */
/* #greet{
    color: blue;
} */


/* 
h1{
    color: blue;
}

.greetclass{
    color: red;
} */

#greet{
    /* color: blueviolet; */
    color: #4328DD;
    /* color: rgba(67, 40, 221,1); */
}


.box{
    border: 5px solid blue;
    /* padding: 50px; */
    /* padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 200px; */

    /* Two params */
    /* padding: 50px 100px; */

    /* Four params */
    /* padding: 50px 100px 150px 200px; */
    
    margin: 50px;
}


.box-1{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 20px;
    padding: 50px;
}


.box-2{
    width: 200px;
    height: 200px;
    background-color: blue;
    box-sizing: border-box;
    padding: 50px;
    border: 10px solid green;
}

.parent{
    width: 300px;
    height: 300px;
    background-color: orangered;
    /* position: static; */
    /* position: relative; */
    top: 50px;
    left: 50px;
}

.child{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* position: absolute; */
    position: fixed;
    top: 0px;
    right: 0px;
}