*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 80%;
    margin: 0px auto;
}

a, span{
    text-decoration: none;
    display: inline-block;
}
main{
    /* background-color: orange; */
    background: url("./img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    padding: 20px 0px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper nav{
    display: flex;
    gap: 30px;
}

.header-wrapper nav a{
    color: #ffffff;
}

.btn{
    padding: 10px 30px;
    border-radius: 30px;
}

.btn-primary{
    background-color: rgba(67, 67, 67, 0.3);
    color: #ffffff;
}

.btn-secondary{
    background-color: #231A36;
    color: #ffffff;
}

.banner{
    padding: 100px 0px;
    text-align: center;
    color: #ffffff;
}

.banner h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.banner p{
    margin-bottom: 40px;
 ;
}

/* clients */

.clients{
    padding: 100px 0px;
}

.clients h6{
    color: #B2B7BE;
    font-size: 16px;
    font-weight:700;
    text-align: center;
    margin-bottom: 50px;
}
.clients-wrapper{
    display: flex;
    justify-content: space-between;
}


/* solutions */

.solutions{
    padding: 100px 0px;
}



.sec-heading{
    text-align: center;
    margin-bottom: 50px;
}

.sec-heading h2{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
}

.solutions-wrapper > div{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.solutions-wrapper > div:nth-child(3){
    margin-bottom: 0px;
}

.solutions-wrapper > div > div > span{
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.solutions-wrapper > div h3{
    margin-bottom: 20px;
}

.solutions-wrapper > div p{
    margin-bottom: 15px;
}


.solutions-wrapper a{
    display: flex;
    gap: 20px;
    align-items: center;
}

.solutions-wrapper > div:nth-child(1) > div:nth-child(2),
.solutions-wrapper > div:nth-child(3) > div:nth-child(2) {
   text-align: right;
}

.solutions-wrapper > div:nth-child(2) > div:nth-child(1){
    order: 2;
}


.solutions-wrapper > div:nth-child(2) > div:nth-child(2){
    order: 1;
}

/* search */
.search{
    padding: 100px 0px;
    background-color: #231A36;
    color: #ffffff;
}

.search .container{
    width: 60%;
}

.serach-wrapper{
    display: flex;
    justify-content: space-between;
}

.serach-wrapper > div{
    text-align: center;
    margin-top: 50px;
}

/* need */
.need{
    padding: 100px 0px;
}

.need-wrapper{
    display: flex;
    justify-content: space-between;
}

.need-wrapper > div{
    width:30%;
    position: relative;
}

.need-wrapper > div img{
    width:100%;
}

.need-wrapper > div > div{
    background-color: #ffffff;
    width:80%;
    padding: 35px;
    position: absolute;
    bottom:-65px;
    left: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.need-wrapper > div > div > div{
    display: flex;
    gap:20px;
    margin-top: 20px;
}

.need-wrapper > div > div > div span{
    font-size: 10px;
}

/* happy */
.happy{
    padding: 100px 0px;
}

.happy-wrapper{
    display: flex;
    align-items: center;
}

.happy-wrapper > div{
    width: 50%;
}

.happy-wrapper > div p{
    margin: 25px 0px;
    font-size: 22px;
    font-style: italic;
    line-height: 36px;
}

.happy-wrapper > div:nth-child(2){
    text-align: right;
}

/* newsletter */
.newsletter{
    padding: 100px 0px;
}

.newsletter-wrapper{
    text-align: center;
    background:url("./img/newsletter/1.png") no-repeat center;
    background-size: cover;
    padding: 50px 0px;
    color: #ffffff;
    border-radius: 20px;

}

.newsletter-wrapper h2{
    font-size: 40px;
    
}

.newsletter-wrapper p{
    margin: 10px 0px 35px 0px;
}

/* footer */
footer{
    padding: 60px 0px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e3e4;
    padding-bottom: 50px;
}

.footer-wrapper img{
   filter: invert(100%);
}

.footer-wrapper nav{
    display: flex;
    gap: 30px;
  
}

.footer-wrapper nav a{
    color: #333333;
}

.footer-bottom{
    text-align: center;
    margin-top: 50px;
}

@media screen and (min-width: 998px) {
    .solutions .container{
        width: 50%;
    }

    .solutions-wrapper > div > div{
        width: 50%;
    }

    .sec-heading h2{ 
        font-size: 40px;
    }
    
    
}
@media screen and (min-width: 768px) {
    .banner h1{
        font-size: 94px;
        margin-bottom: 20px;
    }

    .line-break{
        display: block;
    }
    
}


@media screen and (max-width: 998px) {
    .clients-wrapper{
        flex-wrap: wrap;
        text-align: center;
    }

    .clients-wrapper > div{
        width: 30%;
    }

    .solutions-wrapper > div{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .solutions-wrapper a{
        justify-content: center;
    }

    .solutions-wrapper > div:nth-child(2) > div:nth-child(1){
        order: 1;
    }
    
    
    .solutions-wrapper > div:nth-child(2) > div:nth-child(2){
        order: 2;
    }

    .serach-wrapper{
        flex-wrap: wrap;
    }

    .serach-wrapper > div{
        width: 45%;
    }
    
}

@media screen and (max-width: 768px) {
    .header-wrapper{
        flex-direction: column;
        gap: 30px;
    }
    
    .clients-wrapper > div{
        width: 48%;
    }
    
}